*{
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: sans-serif;
    color: rgba(0, 0, 0, 0.87);
    line-height: 1.6;
    margin : 0
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: white;
    padding: 30px 87px;
}

.topbar nav {
    float: left;
}

.topbar .social{
    float: right;
}

.topbar nav a{
    color: grey;
    text-decoration: none;
    font-weight: 500;
    margin: 0 53px;

}

.topbar nav a:hover, .topbar nav a.active {
    color: black;
}

.social a {
    padding: 0 12px;
    opacity: .8;
}

.social a:hover {
    opacity: 1;
}

.banniere {
    height: 427px;
    background: no-repeat center center / cover  url("img/header.png");
}

.main {
    float: left;
    width: calc(100% - 375px);    
    height: 200px;
    box-shadow: 0 0px 30px rgba(0, 0, 0, 0.24);
    z-index: 2;
}

.sidebar {
    float: right;
    background: rgba(211, 211, 211, 0.192);
    width: 375px;
    padding: 44px;
    z-index: 1;
}

.sidebarTitle {
    font-size: 30px;
    color: #000000;
    margin: 15px 0;
}

.sidebarTitle:first-child{
    margin-top: 0;
}

.sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar li {
    padding: 6px 0;
}

.sidebar li:first-child{
    padding-top: 0;
}

.sidebar li:last-child{
    padding-bottom: 0;
}

.sidebar hr {
    border: none;
    height: 1px;
    background: #c4c4c4;
    margin: 50px 0;
}

.sidebar a{
    color: grey;
    text-decoration: none;
}

.sidebar a:hover{
    text-decoration: underline;
}

footer {
    clear: both;
}